In [6]:
# Code is still a work in progress
import pandas as pd

In [7]:
Location = "datasets/algebradata.csv"

In [8]:
df =pd.read_csv(Location)

In [9]:
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [11]:
#Group Hours of Study by Gender, not part of assignment
groupby_Gender = df['Gender'].groupby(df['Hours of Study'])
groupby_Gender

In [12]:
print("The average hours of study by gender:")
df['Hours of Study'].groupby(df['Gender']).mean()

The average hours of study by gender:

Gender
F    15.666023
M    14.521830
Name: Hours of Study, dtype: float64

In [13]:
# The average hours of study for the entire class
print('The average study hours were:')
df['Hours of Study'].mean()

The average study hours were:

15.115115115115115

In [14]:
# Group Grade by Hours of Study still haven't figure out how to do it for only one individual grade, e.g failing only
groupby_Grade= df['Grade'].groupby(df['Hours of Study'])
groupby_Grade

In [15]:
print("The average hours of study by grade:")
df['Hours of Study'].groupby(df['Grade']).mean()

The average hours of study by grade:

Grade
A    17.935811
B    15.893939
C    14.243655
D    14.577778
F     6.722892
Name: Hours of Study, dtype: float64

In [17]:
#Find how many students received each grade
df['Grade'].value_counts()

A    296
D    225
B    198
C    197
F     83
Name: Grade, dtype: int64

In [18]:
# Find total number of students
df['Grade'].describe()

count     999
unique      5
top         A
freq      296
Name: Grade, dtype: object

In [47]:
# Percent of particular grade for each gender
# Still trying to figure out how to get percentage passing and failing and then group by gender
# Following is first approximation but still not what I want to do
pd.crosstab(df.Grade,df.Gender).apply(lambda r: r/r.sum(), axis=1)

Gender         F         M
Grade
A       0.567568  0.432432
B       0.565657  0.434343
C       0.512690  0.487310
D       0.502222  0.497778
F       0.289157  0.710843